@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Транспорт Гомельводоканала</h1>
    <p>Переход <a href="https://gomelvodokanal.by">Официальный сайт Гомельводоканал</a>.</p>
</div>*@

    <div class="jumbotron-fluid">
        <h2 class="display-">Транспорт Гомельводоканала</h2>
        <p>
            <br />
        </p>
        <div class="float-none">
            <img src="~/images/logo.jpg" asp-append-version="true">
        </div>
        @*<h2 class="display-2">Транспорт Гомельводоканала</h2>
        <p>
            <br />
        </p>*@
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать</h2>
        <p>Переход <a href="https://gomelvodokanal.by">Официальный сайт Гомельводоканал</a>.</p>
    </div>
</div>
